{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% if current_user.is_authenticated %}
    {% block menu %}
        <a class="navbar-brand text-white nav-link" href="/home">Home</a>
        <a class="navbar-brand text-white nav-link" href="/cadastro_pessoa">Cadastro</a>
        <a class="navbar-brand text-white nav-link" href="/listar_pessoas">Pessoas</a>
        <a class="navbar-brand text-white nav-link" href="/logout">Sair</a>
    {% endblock %}

    {% block section %}
        <div class="row mt-3">
            <div class="col-4">
                <div class="card text-dark bg-light mb-3">
                    <div class="card-header">Lorem Ipsum</div>
                    <div class="card-body">
                        <h5 class="card-title">Lorem Ipsum</h5>
                        <p class="card-text">
                            Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                            Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card text-dark bg-light mb-3">
                    <div class="card-header">Lorem Ipsum</div>
                    <div class="card-body">
                        <h5 class="card-title">Lorem Ipsum</h5>
                        <p class="card-text">
                            Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                            Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card text-dark bg-light mb-3">
                    <div class="card-header">Lorem Ipsum</div>
                    <div class="card-body">
                        <h5 class="card-title">Lorem Ipsum</h5>
                        <p class="card-text">
                            Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                            Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endif %}

